<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página inicial</title>

    <link rel="stylesheet" href="../../static/css_lista01/ex05css/css/global.css">
    <link rel="stylesheet" href="../../static/css_lista01/ex05css/css/home.css">

</head>
<body>
    <header>
        <h1>Página Inicial</h1>
    </header>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Perfil profissional</a></li>
            <li><a href="#">Empresa fic.</a></li>
            <li><a href="#">Técnologia</a></li>
            <li><a href="/">Voltar</a></li>
        </ul>
    </nav>
    <main>
      <section>
        <h1>olá, seja bem vindo</h1>
      </section>
    </main>
    <footer>
        <p>Feito por: Fernando Ribeiro Rodrigues Turma TDS manhã</p>
    </footer>
</body>
</html>