<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Github</title>

    <link rel="stylesheet" href="../../static/css_lista01/ex03css/css/home.css">
    <link rel="stylesheet" href="../../static/css_lista01/ex03css/css/global.css">

</head>
<body>
    <header>
        <h1>Página de Github</h1>
        <button><a href="/">Voltar</a></button>
    </header>
    <main>
        <section>
            <dl>
                <dt><strong>O que é Github?</strong></dt>
                <dd>O GitHub é uma plataforma online usada para armazenar, gerenciar e compartilhar projetos de software. Baseado no sistema de controle de versão Git, ele permite que desenvolvedores acompanhem alterações no código, trabalhem em equipe e mantenham um histórico completo das modificações realizadas em um projeto.

                    Além de hospedar repositórios de código, o GitHub oferece ferramentas para colaboração, como revisão de código, gerenciamento de tarefas, registro de problemas (issues), documentação por meio de arquivos README e automação de processos com integração contínua e entrega contínua (CI/CD).
                    
                    A plataforma é amplamente utilizada por desenvolvedores, empresas, instituições de ensino e comunidades de software livre para criar, manter e distribuir aplicações. Também funciona como um portfólio profissional, permitindo que programadores apresentem seus projetos e contribuições para a comunidade.
                    
                    Em resumo, o GitHub é uma das principais plataformas para desenvolvimento colaborativo de software, facilitando o versionamento de código, a colaboração entre equipes e a publicação de projetos de forma organizada e segura.</dd>
            </dl>
        </section>
    </main>
    <footer>
        <p>Desenvolvido por Fernando Ribeiro Rodrigues Turma TDS manhã 09 07 2026</p>
    </footer>
</body>
</html>