<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documentação</title>
    <link rel="stylesheet" href="../static/css/global.css">
    <link rel="stylesheet" href="../static/css/home.css">
</head>
<body>
    <header>
        <h1>Documentação do projeto</h1>
    </header>
    <main>
      <section>
        <dl>
          <h2>Exercícios: </h2>
            <dt><strong>Exercicio 01</strong></dt>
            <dd>É uma página de perfil profissional, onde são definidas as minhas capacidades.</dd>
            <dt><strong>Exercicio 02</strong></dt>
            <dd>Página de empresa ficticia</dd>
            <dt><strong>Exercicio 03</strong></dt>
            <dd>Página de tecnologia estudada no curso</dd>
            <dt><strong>Exercicio 04</strong></dt>
            <dd>Página de documentação do projeto</dd>
            <dt><strong>Exercicio 05</strong></dt>
            <dd>Página inicial</dd>
          <h2>Materiais:</h2>
            <dt>Linguagens: </dt>
            <dd>Python</dd>
            <dd>HTML</dd>
            <dd>CSS</dd>
            <dd>FLASK</dd>
            <dd>GitHub</dd>
        </dl>
      </section>
    </main>
    <footer>
        
    </footer>
</body>
</html>