
body,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    background-image: url(img/pngtree-sci-fi-city-car-retro-background-image_1948145.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    image-rendering: pixelated;
    scrollbar-width: none;
    background-clip: content-box;
    display: flexbox;
    flex-direction: column;
}
header{
    width: 100%;
    height: 70px;

}
.botao{
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
    
}
nav{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}
main{
    background-color: rgba(255, 255, 255, 0.356);
    max-width: 90%;
    margin: auto;
    margin-top: 30px;
    border-radius: 10px;
    margin-bottom: 10px;
    min-height: 70%;
    border: 1px solid black;
}
footer{
    display: flex;
    align-items: center;
    width: 100vw;
    height: 70px;
    background-color: gray;
    padding: 0;
    margin: 0;
    border: 1px solid black;
}