*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{


    background-color: lightgray;
    text-align: center;
}
header{
    height: 80px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
form{
    border: 1px solid black;
    max-width: 50%;
    margin: auto;
    padding: 10px;

}
fieldset{
    margin-bottom: 5px;
}