<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=], initial-scale=1.0">
    <title>Página inicial</title>
    <link rel="stylesheet" href="../static/home.css">
    <link rel="stylesheet" href="../static/global.css">

</head>
<body>
    <header>
        <h1>Página inicial</h1>
        <button><a href="/">Voltar</a></button>
        <button><a href="/listas">Página listas</a></button>
        <button><a href="/logout03">Logout</a></button>
    </header>
    <main>
      
    </main>
    <footer>
        <p>Fernando Ribeiro Rodrigues Data: 03.07.2026</p>
    </footer>
</body>
</html>