*{
    margin: 0;
    padding: 0;
    scrollbar-width: none;
}
body{
    margin: 0;
    padding: 0;
    display: flexbox;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background-image:url("../imagens/carrocompras.webp") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-attachment: fixed;
    
}
header{
    width: 100%;
    padding: 20px;
    text-align: center;
    background-color: rgba(158, 156, 156, 0.603);
}
nav{
    width: 100%;
    display: flex;
    box-shadow: 5px 5px 5px black;
    padding: 10px;
    background-color: rgba(158, 156, 156, 0.603);
    margin-bottom: 10px;
}
nav > ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: auto;
}
main{
    max-width: 50%;
    margin: auto;
    min-height: 50vh;
    background-color: rgba(158, 156, 156, 0.603);
    margin-bottom: 10px;
    margin-top: 20px;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
}
footer{
    width: 100%;
    border: 1px solid black;
    position: fixed;
    background-color: rgba(158, 156, 156, 0.603);
    padding: 10px;
    bottom: 0;
    text-align: center;
}