<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página de links</title>
</head>
<body>
  <header>
    <h1>página de links</h1>
  </header>
  <main>
    <section>
      <p>A tag A é utilizada para a criação de links em uma página<br> é utilizada no dia a dia para criar atalhos para outras páginas do sistema</p>
      <p>Diferença entre <strong>Link externo</strong> e <strong>Link interno:</strong></p>
      <p><strong>Link interno</strong> ocorre quando há utilização de links para páginas internas do sistema</p>
      <p><strong>Links externos</strong> ocorrem quando a tag <strong>a</strong> é utilizada para sistemas externos</p>
      <p><strong>Exemplos:</strong><a href="https://www.canva.com/pt_br/">Link externo: Canva</a></p>
      <p><a href="/pagina_inicial">Link Interno: Página inicial</a></p>
    </section>
  </main>
</body>
</html>