<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Divs e Layout</title>
</head>
<body>

    <h1>Divs e Spans</h1>

    <div>
        <h2>Meu conteúdo</h2>
        <p>Texto dentro de uma divisão.</p>
    </div>

  
    <div>
        <p>Outra div sem classe ou id.</p>
    </div>

   
    <p>Texto com <span>span inline</span> dentro da frase.</p>

    <br>
    <a href="/">Voltar</a>

</body>
</html>