<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estrutura Básica do HTML</title>
</head>
<body>

    <h1>Bem-vindo ao segundo módulo</h1>

    <p>Esta é a estrutura básica de um documento HTML:</p>

    <pre>
&lt;!DOCTYPE html&gt;
&lt;html lang="pt-br"&gt;
&lt;head&gt;
    &lt;meta charset="UTF-8"&gt;
    &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
    &lt;title&gt;Título da Página&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
    Conteúdo visível da página
&lt;/body&gt;
&lt;/html&gt;

    
&lt;!DOCTYPE html&gt;
Declara que este é um documento HTML5.

&lt;html lang="pt-br"&gt;
Define que todo o conteúdo da página idioma como português do Brasil.

&lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
Define como a página deve ser exibida em dispositivos móveis. 
Ajusta a largura da página para coincidir com a largura da tela do dispositivo 
e define o nível de zoom inicial como 1.0, garantindo que o site fique responsivo.

&lt;head&gt;
Define informações sobre a página.

    &lt;meta charset="UTF-8"&gt;
    Define a codificação de caracteres para UTF-8 acentos e símbolos funcionam corretamente.

    &lt;title&gt;Título da Página&lt;/title&gt;
    Define o título que aparece na aba do navegador.
&lt;/head&gt;

&lt;body&gt;
Contém todo o conteúdo da página.


&lt;/body&gt;

&lt;/html&gt;
    </pre>

   
<a href="/">Voltar</a>
</body>
</html>
