<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de listas</title>
    <link rel="stylesheet" href="../static/pagina_listas.css">
</head>
<body>
    <header>
        <h1>Página de listas</h1>
    </header>
    <main>
      <p><a href="/">Página inicial</a></p>
      <section>
        <div class="mae">
            <div class="bloco">
                <p>As listas são criadas com as tags <strong>ul,ol e dl</strong></p>
                <dl>
                    <dt><strong>ul</strong></dt>
                    <dd><em>Lista não ordenada (sem ordem especifica)</em></dd>
                    <dt><strong>ol</strong></dt>
                    <dd><em>Lista ordenada</em> (Ordem alfabética ou númerico)</dd>
                    <dt><strong>dl</strong></dt>
                    <dd>lista de definição (utilizada para descrever algo)</dd>
                </dl>
            </div>
            <div class="bloco">
              <h2>Exemplos:</h2>
              <div class="lista">
                <p>Lista ordenada:</p>
                <ol>
                    <li>Exemplo 01</li>
                    <li>Exemplo 02</li>
                    <li>Exemplo 03</li>
                    <li>Exemplo 04</li>
                    <li>Exemplo 05</li>
                </ol>
              </div>
              <div class="lista">
                <p>Lista não ordenada:</p>
                <ul>
                    <li>Item a</li>
                    <li>Item b</li>
                    <li>Item c</li>
                    <li>Item d</li>
                    <li>Item e</li>
                </ul>
              </div>
              <div class="lista">
                <p>Lista de definição:</p>
                <dl>
                    <dt><strong>Carro</strong></dt>
                    <dd>Veículo de 4 rodas</dd>
                    <dt><strong>Github</strong></dt>
                    <dd>Repositório remoto de cógido de um sistema</dd>
                </dl>
              </div>
            </div>
        </div>
        
       
      </section>
    </main>
    <footer>

    </footer>
</body>
</html>