<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="../static/login.css">
</head>
<body>
    <header>
        <h1>Página de cadastro</h1>
    </header>
    <main>
        <form action="" method="post">
            <fieldset>Cadastro</fieldset>
            <p>
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" required>
            </p>
            <p>
                <label for="senha">Senha:</label>
                <input type="password" name="senha" id="senha" required>
            </p>
            <p>
                <input type="submit" value="Cadastrar">
                <button><a href="/login">Voltar</a></button>
            </p>
            
        </form>
    </main>
</body>
</html>