<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cards</title>
    <link rel="stylesheet" href="../static/css/cards.css">
    <link rel="stylesheet" href="../static/css/global.css">
    <link rel="" href="../static/css/home_243.ico">
</head>
<body>
    <header>
        <h1>Página de Cards</h1>
    </header>
    <main>
        <section>
            <div class="card">
                <h2>Primeiro Card</h2>
                <p>Este é o primeiro card do meu section</p>
                <button>Ação</button>
            </div>
            <div class="card">
                <h2>Segundo Card</h2>
                <p>Este é o segundo card do meu section</p>
                <button>Ação</button>
            </div>
            <div class="card">
                <h2>Terceiro Card</h2>
                <p>Este é o terceiro card do meu section</p>
                <button>Ação</button>
            </div>
        </section>
    </main>
    <footer>
        <p><a href="/">Página inicial</a></p>
    </footer>
</body>
</html>