<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fantastic shop</title>
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" href="../static/css/global.css">
</head>
<body>
    <header>
        <h1>Fantastic shop</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/compras">Compras</a></li>
            <li><a href="/ajuda">Ajuda</a></li>
            <li><a href="/sobre">Sobre</a></li>
        </ul>
    </nav>
    <main>
      <section>
         <h1>ola, seja bem vindo</h1>
         <p>Seja bem vindo(a) à fantastic shop, uma loja e eccomerce<br> que vende diversos produtos extremamente uteis para o seu dia a dia<br></p>
      </section>
    </main>
    <footer>
       <p>Fernando Ribeiro Rodrigues Turma TDS 07.07.2026</p>
    </footer>
</body>
</html>