<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posicionamentos em CSS</title>
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" href="../static/css/global.css">
</head>
<body>
    <header>
        <h1>Posicionamentos</h1>
    </header>
    <main>
        <section class="cards-section">
            <div class="banner-stick">
                <p>Meu nome é Fernando Ribeiro Rodrigues</p>
            </div>
        </section>
        <section class="cards-section">
            <h1>Cards</h1>
            <div class="card">
                <p>card 01</p>
                <p>Texto com o conteudo do card, inserindo css em cada um</p>
                <button class="card-btn">Ação</button>
            </div>
            <div class="card">
                <p>card 02</p>
                <p>Texto com o conteudo do card, inserindo css em cada um</p>
                <button class="card-btn">Ação</button>
            </div>
            <div class="card">
                <p>card 02</p>
                <p>Texto com o conteudo do card, inserindo css em cada um</p>
                <button class="card-btn">Ação</button>
            </div>
            <div class="card">
                <p>card 02</p>
                <p>Texto com o conteudo do card, inserindo css em cada um</p>
                <button class="card-btn">Ação</button>
            </div>
            <div class="card">
                <p>card 02</p>
                <p>Texto com o conteudo do card, inserindo css em cada um</p>
                <button class="card-btn">Ação</button>
            </div>
            <div class="card">
                <p>card 02</p>
                <p>Texto com o conteudo do card, inserindo css em cada um</p>
                <button class="card-btn">Ação</button>
            </div>
            <div class="card">
                <p>card 02</p>
                <p>Texto com o conteudo do card, inserindo css em cada um</p>
                <button class="card-btn">Ação</button>
            </div>
            <div class="card">
                <p>card 02</p>
                <p>Texto com o conteudo do card, inserindo css em cada um</p>
                <button class="card-btn">Ação</button>
            </div>
        </section>
    </main>

</body>
</html>