<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/home.css">
    <link rel="stylesheet" href="../static/main.css">
    <title>Exercicio 01</title>
</head>
<body>
    <header>
      <h1>Fernando Ribeiro Rodrigues</h1>
    </header>
    <main>
     <h2>olá, seja bem vindo</h2>
     <section>
      <h2>Competencias técnicas</h2>
      <ul>
        <li><p>Desenvolvimento de banco de dados MYSQL</p></li>
        <li><p>Integração com banco de dados em python</p></li>
      </ul>
      <p><i class="fa-brands fa-github"></i><a href="https://github.com/fernandodevpythonn" target="_blank">Github</a></p>
      <p><a href="https://www.linkedin.com/in/fernando-ribeiro-707a93293/?skipRedirect=true" target="_blank">Linkedin</a></p>
     </section>
    </main>
    <footer>
    <p>Feito por: Fernando Ribeiro Rodrigues</p>
    <p>Turma: TDS</p>
    </footer>
</body>
</html>