<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/home.css">
    <link rel="stylesheet" href="../static/main.css">
    <title>Document</title>
</head>
<body>
    <header>
      <h1></h1>
    </header>
    <nav>
        <p class="botao"><a href="pagina_inicial.html">Home</a></p>
        <p class="botao"><a href="perfil_profissional.html">Perfil profissional</a></p>
        <p class="botao"><a href="perfil_profissional.html">Técnologias</a></p> 
        <p class="botao"><a href="perfil_profissional.html">Sobre</a></p> 
    </nav>
    <main>
     <p>olá, seja bem vindo</p>
    </main>
    <footer>
    <p>Feito por: Fernando Ribeiro Rodrigues</p>
    <p>Turma: TDS</p>
    </footer>
</body>
</html>