<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página tabelas</title>
    <link rel="stylesheet" href="../static/pagina_tabelas.css">
</head>
<body>
    <header>
      <h1>Página de tabelas</h1>
      <p><a href="/home04">Página inicial</a></p>
    </header>
    <main>
      <h2>Exemplo</h2>
      <table>
        <thead>
          <tr>
            <th>produto</th>
            <th>preço</th>
            <th>quantidade</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>celular</td>
            <td>1000</td>
            <td>1</td>
          </tr>
          <tr>
            <td>computador</td>
            <td>3500</td>
            <td>20</td>
          </tr>
          <tr>
            <td>fone de ouvido</td>
            <td>50</td>
            <td>100</td>
          </tr>
          <tr>
            <td>camisa</td>
            <td>60</td>
            <td>43</td>
          </tr>
        </tbody>
      </table>
    </main>
    <footer>

    </footer>
</body>
</html>