<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/pagina_divs.css">
</head>
<body>
    <header>
        <h1>Divs e spans</h1>
        <p><a href="/">Página inicial</a></p>
    </header>
    <main>
        <section>
          <dl>
            <dt><strong>Divs</strong></dt>
            <dd>
                <p>Utilizado para criação de blocos ou containers</p>
            </dd>
            <dt><strong>Span</strong></dt>
            <dd>
                <p><em>É um elemento em linha(inline), utilizado para criação de grandes textos</em></p>
            </dd>
          </dl>
          <h2><strong>Exemplos: </strong></h2>
          <div class="mae">
            <div class="bloco">
            <p>DIV 01</p>
          </div>
          <div class="bloco">
            <p>DIV 02</p>
          </div>
          <p>BLOCOS</p>
          </div>
          <div class="mae">
            <p>UNINDO LISTAS</p>
            <ul>
                <li>exemplo 01</li>
                <li>exemplo 02</li>
                <li>exemplo 03</li>
                <li>exemplo 04</li>
            </ul>
            <ol>
                <li>acordar</li>
                <li>levantar da cama</li>
                <li>tomar cafe</li>
                <li>escovar os dentes</li>
            </ol>
          </div>
        </section>
    </main>
    <footer>
        <p>Fernando Ribeiro Rodrigues Data: 02 07 2026</p>
    </footer>
</body>
</html>