<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/pagina_login.css">
</head>
<body>
    <header>
        <h1>Página de login</h1>
        <button><a href="/">Voltar</a></button>
    </header>
    <main>
        {% if err%}
           <p style="color: red; background-color: white;">{{err}}</p>
        {% endif %}
        <form action="{{url_for('entrar02')}}" method="post">
            <fieldset>Login</fieldset>
            <p>
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" required>
            </p>
            <p>
                <label for="senha">Senha:</label>
                <input type="password" name="senha" id="senha" required>
            </p>
            <input type="submit" value="Entrar">
            <button><a href="/cadastro02">Página de cadastro</a></button>
        </form>
    </main>
</body>
</html>