<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" href="../static/css/global.css">
    <title>{% block title%}sistema de listas{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Página incial - </h1>
        <h2> Desenvolvimento de interface</h2>
      </header>
      <div class="container">
        <a href="/" class="dropdown-btn">Home</a>
        <div class="dropdown">
          <a href="#" class="dropdown-btn">Lista 01</a>
          <div class="dropdown-content">
            <a href="/ex01">Exercicio 01</a>
            <a href="/ex02">Exercicio 02</a>
            <a href="/ex03">Exercicio 03</a>
            <a href="/ex04">Exercicio 04</a>
            <a href="/ex05">Exercicio 05</a>
          </div>
        </div>
        <div class="dropdown">
          <div class="dropdown-btn">Lista02</div>
          <div class="dropdown-content">
            <a href="/linksex0201">Exercicio 01</a>
            <a href="/imagens0202">Exercicio 02</a>
            <a href="/ex0203">Exercicio 03</a>
          </div>
        </div>
        <div class="dropdown">
          <div class="dropdown-btn">Lista 03</div>
          <div class="dropdown-content">
            <a href="/login01">Exercicio 01</a>
            <a href="/login02">Exercicio 02</a>
            <a href="/login03pagina">Exercicio 03</a>
            <a href="/loginpagina">Exercicio 04</a>
          </div>
        </div>
      </div>
      {% block content %}{% endblock %}
</body>
</html>