<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" href="../static/css/global.css">
    <title>{% block title%}sistema de listas{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Página incial</h1>
      </header>
      <div class="container">
        <a href="/" class="dropdown-btn">Home</a>
        <div class="dropdown">
          <a href="#" class="dropdown-btn">Lista 01</a>
          <div class="dropdown-content">
            <a href="/ex01">Exercicio 01</a>
            <a href="/ex01">Exercicio 02</a>
            <a href="/ex01">Exercicio 03</a>
            <a href="/ex01">Exercicio 04</a>
            <a href="/ex01">Exercicio 05</a>
          </div>
        </div>
      </div>
      {% block content %}{% endblock %}
</body>
</html>