<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>página formulario</h1>
    </header>
    <main>
       <section>
        <form action="">
            <label for="nome">Nome:</label>
            <input type="text"  required>
            <label for="email">Email:</label>
            <input type="email" required>
            <label for=""></label>
            <input type="submit" value="enviar">
        </form>
        <p>Dentro de formulário temos um atributo muito importante, o <strong>Required</strong>.<br>Ele é muito importante, pois faz com que as informações dos inputs só sejam enviadas, após serem preenchidas de forma correta</p>
       </section>
    </main>
    <footer>
        <p>Fernando Ribeiro Rodrigues</p>
        <p><a href="/">Página inicial</a></p>
    </footer>
</body>
</html>