<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pagina imagens</title>
</head>
<body>
    <header>
        <h1>página de imagens</h1>
    </header>
    <main>
        <section>
            
            <p>A taga <strong>IMG</strong> é utilizada para importar qualquer tipo de imagem, dentro do sistema.</p>
            <p><strong>SRC</strong> é onde é adicionado o caminho da imagem.</p>
            <p><strong>ALT</strong> é utilizado para adicionar o nome da rota, ao invés do caminho</p>
            <img src="../static/img/car.jpg" alt="">
            <p><a href="/pagina_inicial0202">Página inicial</a></p>
        </section>
    </main>
    <footer>

    </footer>
</body>
</html>