<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML com Flask</title>

    <!-- 
         CSS externo:
     -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">

    <!-- 
         CSS interno: 
     -->
    <style>
        body {
            background-color: #011222; /* muda o fundo da página */
        }

        h1 {
            color: darkblue; /* muda a cor do título principal */
            font-family: Arial, sans-serif; /* altera a fonte do título */
        }

        ul li a {
            color: darkgreen; /* muda a cor dos links da lista */
            text-decoration: none; /* remove o sublinhado */
        }
    </style>
</head>
<body>

    <h1>HTML com Flask</h1>

    <p>Escolha um grupo de tags para estudar:</p>

    <!-- 
         CSS inline
     -->
    <ul>
        <li><a href="/estrutura" style="color: red; font-weight: bold;">Estrutura HTML</a></li>
        <li><a href="/titulos_textos">Títulos e Textos</a></li>
        <li><a href="/links_imagens">Links e Imagens</a></li>
        <li><a href="/listas">Listas</a></li>
        <li><a href="/tabelas">Tabelas</a></li>
        <li><a href="/div">Div</a></li>
        <li><a href="/semantica">Semântica</a></li>
        <li><a href="/semantica_avancada">Semântica Avançada</a></li>
        <li><a href="/midia">Mídia</a></li>
        <li><a href="{{ url_for('formulario') }}">Formulário</a></li>
        <li><a href="{{ url_for('formulario_extra') }}">Formulário Extra</a></li>
        <li><a href="/seletores">Seletores</a></li>
        <li><a href="/modelo_caixa">Modelo caixa</a></li>
        <li><a href="estilos_texto">Estilos de textos</a></li>
        
    </ul>
    <ul>
        <li><a href="{{ url_for('static', filename='documentos/01_Flask_HTML.pdf') }}" target="_blank">Baixar Exercício 1</a></li>
        <li><a href="{{ url_for('static', filename='documentos/02_Flask_HTML_Formulário.pdf') }}" target="_blank">Baixar Exercício 2</a></li>
        <li><a href="{{ url_for('static', filename='documentos/03_Flask_login.pdf') }}" target="_blank">Baixar Exercício 3</a></li>
        <li><a href="{{ url_for('static', filename='documentos/04_Flask_CSS.pdf') }}" target="_blank">Baixar Exercício 4</a></li>
    </ul>

    <footer>
        <a href="{{url_for('logout')}}">Sair</a>
    </footer>
</body>
</html>